.git
.github
node_modules
vendor
public/build
public/hot
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
.env
.env.*
!.env.example
docs
_bmad*
graphify-out
tests
*.md
!README.md
